.page-header {
  margin: 0;
  position : relative;
}

.page-header .header-background {
  width      : 100%;
  max-height : 200px;
  overflow   : hidden;
}

.page-header .header-background img {
  width          : 100%;
  z-index        : -2;
  -webkit-filter : blur(25px);
  -moz-filter    : blur(25px);
  -o-filter      : blur(25px);
  -ms-filter     : blur(25px);
  filter         : blur(25px);
}

.page-header .avatar {
  position   : absolute;
  top        : 0px;
  text-align : center;
  width      : 100%;
}

.page-header .avatar .img-circle {
  border : 5px solid rgba(255,255,255,0.5);
}

.page-header h1 {
  position : absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,0.6);
}

.banner {
  position   : absolute;
  bottom     : 10px;
  width      : 100%;
  text-align : center;
  z-index    : +1000;
}

button {
  margin      : 20px 0;
  line-height : 34px;
  position    : relative;
  cursor      : pointer;
  user-select : none;
  outline     :none !important;
  width       :90%;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  font-weight: bold!important;
}

button:active {
  outline :none;
}

button.ribbon {
  outline       : none;
  outline-color : transparent;
}

button.ribbon:before, button.ribbon:after {
  top     : 5px;
  z-index : -1;
}

button.ribbon:before {
  border-color : #eee #eee #eee transparent;
  left         : -25px;
  border-width : 17px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

button.ribbon:after {
  border-color : #eee transparent #eee #eee;
  right        : -25px;
  border-width : 17px;
  box-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}

button:before, button:after {
  content      : '';
  position     : absolute;
  height       : 0;
  width        : 0;
  border-style : solid;
  border-width : 0;
  outline      :none;
}