<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Andrea Tip Calculator</title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="Andrea Garn Tip Calculator" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="msapplication-TileImage" content="img/mstile-144x144.png" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png" />
  <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192" />
  <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
  <link rel="manifest" href="img/manifest.json" />
  <link type-"text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link type-"text/css" rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
  <link type-"text/css" rel="stylesheet" href="css/app.css" />
</head>
<body>

  <div class="container" ng-cloak>
    <div class="row" ng-controller="AppCtrl" >
      <div class="col-xs-12 ">

        <div class="page-header">
          <div class="header-background">
            <img src="img/apple-touch-icon-180x180.png" />

          </div>
          <div class="avatar">
            <img class="img img-circle" src="img/apple-touch-icon-180x180.png" />
          </div>
          <div class="banner">
            <button class="btn btn-default ribbon">Andrea's Tip Calculator</button>
          </div>
        </div>

        <form class="form-horizontal ">
          <div class=" panel panel-info">
            <div class="panel-heading">Enter the cost and tip</div>
            <div class="panel-body">

              <div class="form-group">
                <label class="col-xs-4">Cost</label>
                <div class="input-group col-xs-7">
                  <span class="input-group-addon">$</span>
                  <input type="number"
                        ng-model="meal.cost"
                        class="form-control input-lg"
                        value="{{ meal.cost | currency }}"
                        pattern="[\d\.]*" step="0.01"
                        />
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-4">Tip</label>
                <div class="input-group col-xs-7">
                  <span class="input-group-addon">%</span>
                  <select ng-model="meal.tip" class="form-control input-lg" >
                    <option value="15">15 - Bad Service</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20 - Good Service</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25 - GREAT!</option>
                  </select>

                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-4">Tip Amount</label>
                <div class="col-xs-8">
                  <h3>{{  meal.amt() | currency }}</h3>
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-4">Total</label>
                <div class="col-xs-8">
                  <h3>{{  meal.total() | currency }}</h3>
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-12">
                  <button ng-click="reset()" class="btn btn-primary btn-lg">Reset</button>
                </div>
              </div>

            </div>
            <div class="panel-footer">
              <p>Source code located at
                <i class="fa fa-github"></i>
                <a href="http://github.com/corycollier/andrea-tip">http://github.com/corycollier/andrea-tip</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>

  <script>
    // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    //
    // ga('send', 'pageview');

  </script>

</body>
</html>